/* Element Chalk Variables */
$--slider-button-size: 16px !default;
$--slider-button-wrapper-size: 36px !default;
$--slider-button-wrapper-offset: -15px !default;

$--font-path: '~element-plus/lib/theme-chalk/fonts';
@import '~element-plus/packages/theme-chalk/src/index';

div.el-input__inner {
  vertical-align: top;
}

// el-input el-button
.el-input__inner,
.el-textarea__inner,
.el-dialog,
.el-button {
  border-radius: 0.2rem !important;
}

// el-table
.table-header th {
  background-color: #e8ecf0 !important;
  height: 40px !important;
  border-top: 1px solid #e8ecf0 !important;
  border-bottom: 1px solid #e8ecf0 !important;
}

.el-table th,
.el-table td {
  padding: 0px !important;
  height: 40px !important;
}

.el-table__header-wrapper {
  border-top: 1px solid #ddd;
}
.el-table thead {
  color: #606266;
}
.el-form-item__label:after {
  content: ':';
  margin-left: 0.2rem;
}

.el-drawer__header {
  font-size: 16px;
  font-weight: 700;
}
